option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: "us-east-1"
    COGNITO_REGION: "us-east-1"

    ORDER_QUEUE_URL: "https://sqs.us-east-1.amazonaws.com/593793054391/route-orders-queue"
    COGNITO_USER_POOL_ID: "us-east-1_GQtRdYhIz"
    COGNITO_APP_CLIENT_ID: "4h7ptgf0a6a8naenphrvakk2eq"
    DYNAMODB_TABLE_NAME: "orders"
    USERS_TABLE_NAME: "users"
    SENDER_EMAIL: "premkumar.aws01@gmail.com"